:root{
  --mk-background:#d2946b;
}

body{
  overflow-x:hidden;
}
hr{
  color: black;
}
.navbar{
  min-height: 8vh;
}
.mk-light-yellow{
  color: #f7bd2f;
}
.mk-yellow{
  color: #f5af05;
}
.page{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mk-flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mk-page{
    min-height: 92vh;
}
.mk-solo-page{
  min-height: 77vh;
}
.mk-full-page{
  min-height: 100vh;
  padding: 0px;
  padding: 10px 0px 10px 0px;
}
.mk-red{
  color: red;
}
.nav-link, .navbar-brand{
  color: #f7bd2f !important;
}
a.active{
  color: #e7c776 !important;
}
.dropdown-item:active{
  background-color: white !important;
}
.dropdown-menu{
  background-color: #333333 !important;
}
#landing-page{
  padding: 0px;
  background-image: url(../imgs/main.jpg);
  background-size: cover;
  background-position: center;
}
#landing-page .row{
  width: 100%;
}
.mk-introduction{
  width: 100vw;
  height: 25vh;
  color: #f7bd2f;
  background-color: #333333;
  text-align: center;
  padding: 10px;
}
.mk-holder{
  position: relative;
  min-height: 65vh;
  width: 100vw;
  border-radius: 2%;
  padding-top: 2px;
  text-align: center;
}
.card{
  border: none;
}
.mk-card-limit{
  width: 90%;
}
.info-holder{
  background-color: #333333;
  padding: 20px;
}
.info-block{
  background-color: #333333;
  color: #f5af05;
  border-top: 1px solid #f5af05;
  border-bottom: 1px solid #f5af05;
  text-align: center;
  height: 25vh;
}
#lib-desc{
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5af05;
  padding: 40px;
}
#libHist{
  margin-top: 20px;
  text-align: center;
}
#mk-book-category{
  color: #333333;
  font-weight: bold;
}
.card-title{
  font-weight: bold;
}
.moveButton{
  box-shadow: none;
  display: none;
  background-color: #333333;
  color: aliceblue;
  width: 50%;
  border-radius: 10%;
  border: 2px solid #f7bd2f;
}
.moveButton:hover{
  background-color: #222222;
}
.book{
  min-height: 25vh;
  color: white;
  background-color: #333333;
  border: 1px solid #333333;
  transform: scale(1.0);
  transition: 0.2s;
}
.book:hover{
  transform: scale(1.02);
  transition: 0.2s;
}
#loadMore{
  display: block;
  border-radius: 5%;
  margin: 10px auto;
  margin-bottom: 10px;
  background-color: #333333;
  color: white;
  padding: 5px;
  width: 100%;
  border: 2px solid #f7bd2f;
}
#loadMore:hover{
  background-color: #222222;
}
#bookPage{
  padding: 20px;
  background-color: #333333;
  border: 2px solid white;
  color: white;
  border-radius: 1.5%;
  text-align: center;
  width: 100%;
}
.book-prev{
  border: 1px solid #f7bd2f;
}
.book-title{
  color: #f5af05;
}
.book-body{
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.zoom-span{
  border: 2px solid #f7bd2f !important;
  display:inline-block;
}
#bookInfo{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.success{
  border: 2px solid green;
}
.mk-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}
.mk-modal-content {
  margin: 15% auto;
  color: #f7bd2f !important;
  background-color: #333333;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  border-radius: 1%;
}
.mk-modal-buttons{
  display: flex;
  justify-content: space-between;
}
#openModal{
  background-color: #f7bd2f;
  color: #333333 !important;
  border: 1px solid #333333;
}
#openModal:hover{
  background-color: #f5af05;
}
#openModal:focus{
  background-color: #f5af05;
}
form{
  color: #f7bd2f;
  text-align: center;
}
input{
  text-align: center;
}
.mk-send{
  background-color: #f7bd2f;
  color: #333333;
}
.mk-send:hover, .mk-send:focus {
  background-color: #f5af05;
  color: #333333;
} 
.form-check-input:checked{
  background-color: #f5af05;
}
.mk-delivery{
  flex-direction: row;margin-left: 10px;
}
#deliveryError{
  padding-left: 0px;
}
#reserveStart{
  display: block;
  width: 100%;
  margin: 0% auto;
  margin-top: 8px;
}
.success{
  border: 2px solid green !important;
}
.failure{
  border: 2px solid red;
}
.error-alert{
  margin-bottom: 0px;
}
#length{
  width: 100%;
  margin-top: 8px;
}
#event-div{
  flex-direction: row;
  justify-content: center;
}
.mk-event-holder{
  height: 100%;
  margin-bottom: 10px;
  gap: 10px;
}
.mk-book-holder{
  height: 100%;
  margin-bottom: 10px;
  gap: 10px;
}
.mk-clear{
  --bs-gutter-x: 0rem;
}
.mk-events .container-fluid{
  padding-bottom: 2%;
}
.mk-quote{
  font-style: italic;
}
.mk-background{
  background-color: #333333;
}
.mk-logo h2{
  font-size: 16px;
  display: inline;
}
a{
  color: #f7bd2f !important;
}
a:link {
  text-decoration: none;
}
a:hover{
  color: #f5af05 !important;
}
.dropdown-menu a:hover{
  color: #333333 !important;
}
.mk-logo a{
text-decoration: none;
color: #f5af05;
}
footer .row{
  height: 100%;
  margin: 0%;
  width: 100%;
}
.mk-sorted-book-holder{
  margin-top: 10px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer{
  height: 15vh;
}
.flex{
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px){
  .mk-full-page{
    padding: 0px;
  }
  .mk-collapsable-page{
      min-height: 92vh;
  }
  .mk-solo-page{
    min-height: 84vh;
  }
  footer{
      margin-top: 0vh;
      height: 8vh;
  }
  .mk-holder{
    min-height: 60vh;
    border-radius: 1%;
  }
  .mk-sorted-book-holder{
    margin-top: 0px;
  }
  .mk-modal-content{
    width: 90%;
  }
  .moveButton{
    display: block;
  }
  .mk-delivery{
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }
  #delivery{
    display: inline;
  }
  form{
    text-align: left;
  }
  input{
    text-align: left;
  }
  #reserveStart{
    display: inline;
  }
  .mk-modal-buttons{
    display: block;
  }
  .mk-close{
    margin-left: 10px;
  }
}
@media screen and (min-width: 992px) {
  .navbar{
      height: 8vh;
      padding: 0% 2% 0% 2%;
  }
  footer .row{
    padding: 0% 2% 0% 2% !important;
  }
  .mk-introduction{
      width: 100vw;
      height: 18vh;
  }
  .mk-card-holder{
    margin-bottom: 0%;
  }
  .mk-modal-content{
    width: 40%;
  }
  .mk-responsive-width{
    width: 75%;
  }
  .mk-holder{
    width: 80vw;
    padding-top: 5px;
  }
  #bookInfo{
    margin-top: 0px;
  }
  #bookPage{
    width: 75%;
  }
  input{
    text-align: left;
  }
  #loadMore{
    width: 30%;
  }
}
